@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,400;1,500&display=swap');
:root {
    --primary-colors: #00856F;
    --secondary-colors: #212529;
    --gray-paragraph: #495057;
    --beige: #FFFAF1;
    --brand-green-light: #DCE9E2;
}
body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
}
.principal{}
    .principal__section--texto {
        background-color: #DCE9E2;
        padding: 12px;
    }
        .principal__texto{
            color: var(--primary-colors);
            margin-top: 41px;
            font-weight: 400px;;
        }
        .principal__titulo{
            font-size: 34px;
            margin-top: 23px;
        }
        .principal__paragrafo {}
        .principal__botao {}
        .principal__imagem{}

    .principal__section--dados{}
        .dados__div{}
            .dados__titulo{}
            .dados__texto{}