@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,400;1,500&display=swap');
:root {
    --primary-colors: #00856F;
    --secondary-colors: #212529;
    --gray-paragraph: #495057;
    --beige: #FFFAF1;
    --brand-green-light: #DCE9E2;
}
.principal{}
    .principal__section--texto {}
        .principal__texto{}
        .principal__titulo{}
        .principal__paragrafo {}
        .principal__botao {}
        .principal__imagem{}

    .principal__section--dados{}
        .dados__div{}
            .dados__titulo{}
            .dados__texto{}